:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 430px;
    height: 932px;
    margin: 0 auto;
    font-size: 0;
    background: #ffffff;
    border-radius: 20px;
}

.login {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 67px;
    height: 36px;
    margin: 190px 0 0 181px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 44;
}

.text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: relative;
    width: 275px;
    margin: 13px 0 0 77px;
    z-index: 42;
}

.email-input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 275px;
    height: 21px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    z-index: 43;
}

.label-email {
    display: block;
    position: relative;
    height: 19px;
    margin: 30px 0 0 5px;
    color: #151717;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}

.flex-row-e {
    border: 1.5px solid #ecedec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 358px;
    height: 48px;
    margin: 11px 0 0 41px;
    z-index: 11;
}

.svg {
    flex-shrink: 0;
    position: relative;
    width: 17.17px;
    height: 20px;
    z-index: 7;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 17.17px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 8;
}

.vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./img/@.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
}

.input {
    flex-shrink: 0;
    position: relative;
    width: 330.83px;
    height: 48px;
    background: #ffffff;
    z-index: 11;
    border-radius: 10px;
}

.div-placeholder {
    position: relative;
    width: 330.83px;
    height: 15px;
    margin: 16.5px 0 0 0;
    z-index: 12;
    overflow: hidden;
}

.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 13.300000190734863px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}

.label-password {
    display: block;
    position: relative;
    height: 19px;
    margin: 10px 0 10px 5px;
    color: #151717;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}

.flex-row-ca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 358px;
    height: 48px;
    margin: 11px 0 0 41px;
    z-index: 20;
}

.svg-1 {
    flex-shrink: 0;
    position: relative;
    width: 17.17px;
    height: 20px;
    background: url(./img/khoa.png) no-repeat center;
    background-size: cover;
    z-index: 18;
    overflow: hidden;
}

.input-2 {
    flex-shrink: 0;
    position: relative;
    width: 330.83px;
    height: 48px;
    background: #ffffff;
    z-index: 20;
    border-radius: 10px;
}

.placeholder {
    position: relative;
    width: 330.83px;
    height: 15px;
    margin: 16.5px 0 0 0;
    z-index: 21;
    overflow: hidden;
}

.text-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 13.300000190734863px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}

.flex-row-bb {
    position: relative;
    width: 370.59px;
    height: 16px;
    margin: 13px 0 0 30px;
    z-index: 28;
}

.input-4 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 1px solid #767676;
    z-index: 25;
    border-radius: 50px;
}

.label-remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 0;
    left: 16.97px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
}

.text-5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 0;
    left: 259px;
    color: #2d79f3;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
}

.button {
    position: relative;
    width: 370px;
    height: 40px;
    margin: 31px 0 0 30px;
    cursor: pointer;
    background: #151717;
    border: none;
    z-index: 30;
    border-radius: 30px;
}

.text-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    right: 162.35px;
    bottom: 11px;
    left: 162.34px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    z-index: 31;
}

.flex-row-ff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 209.32px;
    height: 16px;
    margin: 35px 0 0 115.34px;
    z-index: 36;
}

.text-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 146.63px;
    height: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    z-index: 34;
}

.text-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 47.69px;
    height: 16px;
    color: #2d79f3;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    z-index: 36;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 361px;
    margin: 15px 0 0 35px;
    z-index: 37;
}

.divider-9 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    height: 1px;
    background: #e6e6e6;
    z-index: 38;
}

.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 65px;
    height: 20px;
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    white-space: nowrap;
    z-index: 39;
}

.divider-a {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    height: 1px;
    background: #e6e6e6;
    z-index: 40;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 375px;
    height: 10px;
    margin: 20px 10px 0 0;
    z-index: 0;
}

.flex-row-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 375px;
    height: 10px;
    margin: 77px 0 0 26px;
    z-index: 0;
}
.kakao-icon {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./img/kakao-icon.png) no-repeat center;
    background-size: cover;
    z-index: 1;
}

.google-icon {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./img/google-icon.png) no-repeat center;
    background-size: cover;
    z-index: 3;
}

.github-icon {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./img/github-icon.png) no-repeat center;
    background-size: cover;
    z-index: 2;
}

.naver-icon {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./img/naver-icon.png) no-repeat center;
    background-size: cover;
    z-index: 4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 0 30px 30px 30px;
  width: 430px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}