/* */
body, html {
    margin: 0; /* Loại bỏ các margin mặc định */
    height: 100%; /* Chiều cao thích nghi */
    width: 100%; /* Chiều rộng thích nghi */
}

/* ------------------------------------*/
.facebook-icon {
    background-image: url('image/facebook-logo.pnggo.png');
}

.instagram-icon {
    background-image: url('image/instagram-logo.pnggo.png');
}

.github-icon {
    background-image: url('image/github-logo.pnggo.png');
}

.linkedin-icon {
    background-image: url('image/linkedin-logo.pnggo.png');
}

.discord-icon {
    background-image: url('image/discord-logo.pnggo.png');
}

/* */

/* ------------------------------------*/
/* */
/* ------------------------------------*/

/* */
/* ------------------------------------*/

/* */
/* ------------------------------------*/

/* */
/* ------------------------------------*/

/* */
/* ------------------------------------*/

