.layout{
    display: grid;
    gap: 4px;
    grid-teamplate-rows: 40px 40px auto 60px 60px 40px;
    grid-teamplate-columns: 1fr;
    grid-template-areas: 'header''sidebar''main''widget''statistics''footer';
    height: 100vh;
}
@amedia (min-width: 480px){

}