body {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1em;
    grid-template-areas: "header header header"
                       "sidebar-1 article sidebar-2"
                       "footer footer footer";
}

header,
aside,
article,
footer {
    background: #ccc;
    padding: 1em;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.sidebar-left {
    grid-area: sidebar-1;
}

.sidebar-right {
    grid-area: sidebar-2;
}

#box {
    background-image: url('BackgroundBack.png'), url('BackgroundFront.png’);
    background-size: 100%; background-repeat: no-repeat; }